.containercourse {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 6px;
    margin-top: 2px;
  }
  
  .title {
    padding: 8px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05em;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }
  
  .itemHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .textsm {
    font-size: 0.875rem; /* Equivalent à 14px */
  }
  