.cardDetail {
    margin-left: 8px; /* Remplacer par la marge horizontale souhaitée */
    margin-top: 16px; /* Remplacer par la marge verticale souhaitée */
    display: flex;
    flex-direction: column;
  }
  
  .hr {
    margin-bottom: 16px; /* Modifier selon les besoins */
  }
  
  .item {
    background-color: #1a202c; /* Remplacer par la couleur souhaitée */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; /* Modifier selon les besoins */
    border-bottom: 2px solid #4299e1; /* Remplacer par la couleur de la bordure souhaitée */
    color: #f8fafc; /* Remplacer par la couleur du texte souhaitée */
  }
  
  .title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem; /* Modifier selon les besoins */
    padding-right: 1.25rem; /* Modifier selon les besoins */
  }
  
  .icon {
    cursor: pointer;
  }
  